.upperStuff
{
    display: flex;
    padding: 10px;
    text-align: center;
}

.containerLeft
{
    height: 400px;
    position: relative;
    border: 3px solid green; 
    width: 160px;
    margin: 10px;
    text-align: left;
}

.containerMidLeft
{
    height: 100;
    position: relative;
    border: 3px solid red;
    width: auto;
    margin: 10px;
}

.containerPlayerOne
{
    height: 600px;
    position: auto;
    border: 3px solid rgb(229, 255, 0);
    width: auto;
    margin: 10px;
}

.containerPlayerTwo
{
    height: 600px;
    position: auto;
    border: 3px solid rgb(229, 255, 0);
    width: auto;
    margin: 10px;
}


#punkteTabelle
{
    border: 1px solid black;
    table-layout: auto;
    border-collapse: separate;
}

#punkteTabelle td
{
    border: 2px solid rgb(0, 0, 0);
    table-layout: auto;
    border-collapse: separate;
}

th
{
    background-color: lightgrey
}

#text
{
    background-color: lightgrey
}

td[id$="zs"]
{
    background-color: lightgrey;
}

td[id$="bs"]
{
    background-color: lightgrey;
}

td[id$="to"]
{
    background-color: lightgrey;
}

td[id$="dif"]
{
    background-color: lightgrey;
}

td[id$="tu"]
{
    background-color: lightgrey;
}

td[id$="gsu"]
{
    background-color: lightgrey;
    font-weight: bold;
    color: red;
}

#namePlayer1
{
    border: 2px solid rgb(52, 30, 153);
    table-layout: auto;
    border-collapse: separate;
}

#namePlayer2
{
    border: 2px solid rgb(52, 30, 153);
    table-layout: auto;
    border-collapse: separate;
}

#feld
{
    text-align: left;
}

table, th, td
{
    border:1px solid black;
    border-collapse: collapse;
}

img
{
    width:50px;
    height: 50px;
    top: 50%;
    left: 30%;
    position: relative;
}

img.hold
{
    filter: invert(0.20);
    border: 1px solid red;
}

img.locked
{
    border: 1px solid turquoise;
    filter:invert(1);
}

div img:hover
{
filter:invert(0.16)
}